.flat-list li {
	display: inline
}
.navbar {
	background-color: #eeeeee !important;
}
.nav-item {
	font-weight: bolder;
}
.class="card"{
	background-color: #eeeeee;
}
div-1 {
	background-color: #eeeeee;
	border-radius: 10px;
}
img, iframe {
	border-radius: 10px;
}